*{margin:0;}

header{

    background-color: #f48fb1;
}
h1 { font-size: 4em;
    color: #fff; 
     padding-left:10px;
}
h2 {
    color: #fff; 
    padding-bottom:20px;
    padding-left:10px;
}
img{
    max-width:100%;
}
p{  padding-top: 10px;
    padding-bottom:15px;    
}
h3{
    padding: 10px;
    
}
h4{  padding-top:15px; 
     padding-bottom:15px;
     font-size:2em;
     color: #ee262d;
}

div{
    background-color: #00bfff;
}
ul{ padding-bottom:15px; 
} 
#work h3 { 
   background-color: #ffc1e3;
   border-bottom: 22px #000;
} 
#work{ width: 70%;
    float:left; 
}
#about h3{ background-color:#bf5f82;
    
}
#about{
    width: 30%;
    float:right;
}

footer{
   text-align: center;
    clear:both;
}

@media only screen and (max-width: 750px) {
    h4,p{
        margin-left:20px;
    }
#work{ width: 100%;
    float:none;
    
}
#about{
    width: 100%;
    float:none
}
}
